<a href="https://colab.research.google.com/github/PhaniKris/Python/blob/main/Python_for_Everybody.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sh = input("Enter Hours:")
fh = float(sh)
sr = input("Enter Rate:")
fr = float(sr)
pay = fh + fr
print(pay)

Enter Hours:498.75
Enter Rate:0
pay 498.75

In [ ]:
x = input("enter the number")
num = float(x)
if num >= 0.9 :
    print("A")
elif num >= 0.8 :
    print("B")
elif num >= 0.7 :
    print("C")
elif num >= 0.6 :
    print("D")
elif num < 0.6 :
    print("E")
else :
    print("there is error")

enter the number0.85
B

In [ ]:
if  x == 5 :
    print('Is 5')
    print('Is Still 5')
    print('Third 5')

In [ ]:
x = 0
if x < 2 :
    print('Small')
elif x < 10 :
    print('Medium')
else :
    print('LARGE')
print('All done')

Small
All done

In [ ]:
x = 2.0
if x < 2 :
    print('Below 2')
elif x >= 2 :
     print('Two or more')
else :
    print('Something else')

Two or more

In [ ]:
astr = 'Hello Bob'
istr = 0
try:
    istr = int(astr)
except:
    istr = -1
print(istr)

-1

In [ ]:
#creating/defining user defined function

def greet():
    print("hellow world")
greet()
print("Hi")
greet()

hellow world
Hi
hellow world

In [ ]:
#defining function

def greet(lang):
    if lang == 'es':
       print("halo")
    elif lang == 'fr':
        print("bonjour")
    else:
        print("hello")
#calling a function

greet('es')
greet('fr')
greet('en')
greet('ch')

halo
bonjour
hello
hello

In [ ]:
#defining function with return value

def greet(lang):
    if lang == 'es':
       return "halo"
    elif lang == 'fr':
        return "bonjour"
    else:
        return "hello"
#calling a function

print(greet('es'),"roy")
print(greet('en'),"bob")
print(greet('fr'),"fransis")
print(greet('br'),"sam")

halo roy
hello bob
bonjour fransis
hello sam

In [ ]:
#function with multiple parameters

def sum(a,b):
    add = a + b
    return add
print(sum(2,3))

5

In [ ]:
#while loop

n = 5
while n > 0:
    print(n)
    n = n-1
print("done")

5
4
3
2
1
done

In [ ]:
#while loop with break

while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)
print('done!')

> hello
hello
> hi
hi
> world
world
> done
done!

In [ ]:
#while loop with continue & break

while True:
    line = input('< ')
    if line[0] == "#":
        continue
    if line == "done":
        break
    print(line)
print('done')

< hello
hello
< #world
< hi
hi
< #happy
< done
done

In [ ]:
# for loop

for i in [5,4,3,2,1]:
    i = i-1
    print(i)
print('done!')

4
3
2
1
0
done!

In [ ]:
for friend in ['ajay','raju', 'ravi', 'vikram']:
    print('hi', friend)

hi ajay
hi raju
hi ravi
hi vikram

In [ ]:
#finding largest number using for loop

largest_sofar = -1
print('before', largest_sofar)
for num in [3, 20, 2, 60, 10, 45]:
    if num > largest_sofar:
        largest_sofar = num
        print(largest_sofar, num)
    else:
        print(largest_sofar, num)
print('after', largest_sofar)

before -1
3 3
20 20
20 2
60 60
60 10
60 45
after 60

In [ ]:
#finding smallest number
smallest_sofar = 10
print('before', smallest_sofar)
for num in [3, 20, 2, 60, 10, 45]:
    if num < smallest_sofar:
        smallest_sofar = num
        print(smallest_sofar, num)
    else:
        print(smallest_sofar, num)
print('after', smallest_sofar)

before 10
3 3
3 20
2 2
2 60
2 10
2 45
after 2

In [ ]:
def computepay(hours):
    if hours == 40:
        rate = 10
        print(hours * rate)
    elif hours < 40:
        rate = 08.50
        print(hours * rate)
    else:
        rate = 10.50
        print(hours * rate)

computepay(47.5)

498.75

In [ ]:
def computepay():
    hours = float(input('enter hours:'))
    rate = float(input('enter rate:'))
    total = hours * rate
    return total
print(computepay())

enter hours:47.5
enter rate:10.5
498.75

In [ ]:
def print_lyrics():
    print("hello world")
    print('hi world')

def repeat_lyrics():
    print_lyrics()
    print_lyrics()
repeat_lyrics()

hello world
hi world
hello world
hi world

In [ ]:
def computepay(hours, rate):
    hours = float(input('enter hours:'))
    #rate = float(input('enter rate:'))
    if hours > 40:
        x = hours * (10 + 0.5)
        return x
    else:
        x = hours * 10
        print(x)
computepay(hours, rate)

enter hours:45

472.5

In [ ]:
found = 'FALSE'
print('before', found)
for i in [3, 40, 84, 63, 22, 55]:
    if i == 63:
        found = 'TRUE'
    print(found, i)
print('after', found)

before FALSE
FALSE 3
FALSE 40
FALSE 84
TRUE 63
TRUE 22
TRUE 55
after TRUE

In [ ]:
#strings
fruit = 'banana'
print(fruit[1])

a

In [ ]:
fruit = 'banana'
print(len(fruit))

6

In [ ]:
fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [ ]:
fruit = 'banana'
index = 0
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [ ]:
fruit = 'mango'
print('n is in fruit =', 'n' in fruit)
print('s is in fruit =', 's' in fruit)

n is in fruit = True
s is in fruit = False

In [ ]:
#converting upper case to lower case
greet = 'Hello World'
x = greet.lower()
print(x)

#converting lower case to upper case
greet = 'Hello World'
y = greet.upper()
print(y)

hello world
HELLO WORLD

In [ ]:
#finding position/index value of letter in a word
fruit = 'mango'
pos = fruit.find('n')
print(pos)

2

In [ ]:
#replacing words
greet = 'hello bob'
n = greet.replace('bob', 'john')
print(n)

hello john

In [ ]:
#WHITE SPACES#

#removing space before word
greet = ' hello world 1'
x = greet.lstrip()
print(x)

#removing space after word
wish = 'hello world 2 '
y = wish.rstrip()
print(y)

#removes space before and after word
say = ' hello world 3 '
z = say.strip()
print(z)

hello world 1
hello world 2
hello world 3

In [ ]:
# checking prefixes
line = 'this is my code'
a = line.startswith('my')
b = line.startswith('this')
c = line.startswith('t')
d = line.startswith('T')

print(a)
print(b)
print(c)
print(d)

False
True
True
False