<a href="https://colab.research.google.com/github/PhaniKris/Python/blob/Python-for-Everybody/Python_for_Everybody.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sh = input("Enter Hours:")
fh = float(sh)
sr = input("Enter Rate:")
fr = float(sr)
pay = fh + fr
print(pay)

Enter Hours:498.75
Enter Rate:0
pay 498.75

In [ ]:
x = input("enter the number")
num = float(x)
if num >= 0.9 :
    print("A")
elif num >= 0.8 :
    print("B")
elif num >= 0.7 :
    print("C")
elif num >= 0.6 :
    print("D")
elif num < 0.6 :
    print("E")
else :
    print("there is error")

enter the number0.85
B

In [ ]:
if  x == 5 :
    print('Is 5')
    print('Is Still 5')
    print('Third 5')

In [ ]:
x = 0
if x < 2 :
    print('Small')
elif x < 10 :
    print('Medium')
else :
    print('LARGE')
print('All done')

Small
All done

In [ ]:
x = 2.0
if x < 2 :
    print('Below 2')
elif x >= 2 :
     print('Two or more')
else :
    print('Something else')

Two or more

In [ ]:
astr = 'Hello Bob'
istr = 0
try:
    istr = int(astr)
except:
    istr = -1
print(istr)

-1

In [ ]:
#creating/defining user defined function

def greet():
    print("hellow world")
greet()
print("Hi")
greet()

hellow world
Hi
hellow world

In [ ]:
#defining function

def greet(lang):
    if lang == 'es':
       print("halo")
    elif lang == 'fr':
        print("bonjour")
    else:
        print("hello")
#calling a function

greet('es')
greet('fr')
greet('en')
greet('ch')

halo
bonjour
hello
hello

In [ ]:
#defining function with return value

def greet(lang):
    if lang == 'es':
       return "halo"
    elif lang == 'fr':
        return "bonjour"
    else:
        return "hello"
#calling a function

print(greet('es'),"roy")
print(greet('en'),"bob")
print(greet('fr'),"fransis")
print(greet('br'),"sam")

halo roy
hello bob
bonjour fransis
hello sam

In [ ]:
#function with multiple parameters

def sum(a,b):
    add = a + b
    return add
print(sum(2,3))

5

In [ ]:
#while loop

n = 5
while n > 0:
    print(n)
    n = n-1
print("done")

5
4
3
2
1
done

In [ ]:
#while loop with break

while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)
print('done!')

> hello
hello
> hi
hi
> world
world
> done
done!

In [ ]:
#while loop with continue & break

while True:
    line = input('< ')
    if line[0] == "#":
        continue
    if line == "done":
        break
    print(line)
print('done')

< hello
hello
< #world
< hi
hi
< #happy
< done
done

In [ ]:
# for loop

for i in [5,4,3,2,1]:
    i = i-1
    print(i)
print('done!')

4
3
2
1
0
done!

In [ ]:
for friend in ['ajay','raju', 'ravi', 'vikram']:
    print('hi', friend)

hi ajay
hi raju
hi ravi
hi vikram

In [ ]:
#finding largest number using for loop

largest_sofar = -1
print('before', largest_sofar)
for num in [3, 20, 2, 60, 10, 45]:
    if num > largest_sofar:
        largest_sofar = num
        print(largest_sofar, num)
    else:
        print(largest_sofar, num)
print('after', largest_sofar)

before -1
3 3
20 20
20 2
60 60
60 10
60 45
after 60

In [ ]:
#finding smallest number
smallest_sofar = 10
print('before', smallest_sofar)
for num in [3, 20, 2, 60, 10, 45]:
    if num < smallest_sofar:
        smallest_sofar = num
        print(smallest_sofar, num)
    else:
        print(smallest_sofar, num)
print('after', smallest_sofar)

before 10
3 3
3 20
2 2
2 60
2 10
2 45
after 2

In [ ]:
def computepay(hours):
    if hours == 40:
        rate = 10
        print(hours * rate)
    elif hours < 40:
        rate = 08.50
        print(hours * rate)
    else:
        rate = 10.50
        print(hours * rate)

computepay(47.5)

498.75

In [ ]:
def computepay():
    hours = float(input('enter hours:'))
    rate = float(input('enter rate:'))
    total = hours * rate
    return total
print(computepay())

enter hours:47.5
enter rate:10.5
498.75

In [ ]:
def print_lyrics():
    print("hello world")
    print('hi world')

def repeat_lyrics():
    print_lyrics()
    print_lyrics()
repeat_lyrics()

hello world
hi world
hello world
hi world

In [ ]:
def computepay(hours, rate):
    hours = float(input('enter hours:'))
    #rate = float(input('enter rate:'))
    if hours > 40:
        x = hours * (10 + 0.5)
        return x
    else:
        x = hours * 10
        print(x)
computepay(hours, rate)

enter hours:45

472.5

In [ ]:
found = 'FALSE'
print('before', found)
for i in [3, 40, 84, 63, 22, 55]:
    if i == 63:
        found = 'TRUE'
    print(found, i)
print('after', found)

before FALSE
FALSE 3
FALSE 40
FALSE 84
TRUE 63
TRUE 22
TRUE 55
after TRUE

In [ ]:
#strings
fruit = 'banana'
print(fruit[1])

a

In [ ]:
fruit = 'banana'
print(len(fruit))

6

In [ ]:
fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [ ]:
fruit = 'banana'
index = 0
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [ ]:
fruit = 'mango'
print('n is in fruit =', 'n' in fruit)
print('s is in fruit =', 's' in fruit)

n is in fruit = True
s is in fruit = False

In [ ]:
#converting upper case to lower case
greet = 'Hello World'
x = greet.lower()
print(x)

#converting lower case to upper case
greet = 'Hello World'
y = greet.upper()
print(y)

hello world
HELLO WORLD

In [ ]:
#finding position/index value of letter in a word
fruit = 'mango'
pos = fruit.find('n')
print(pos)

2

In [ ]:
#replacing words
greet = 'hello bob'
n = greet.replace('bob', 'john')
print(n)

hello john

In [ ]:
#WHITE SPACES#

#removing space before word
greet = ' hello world 1'
x = greet.lstrip()
print(x)

#removing space after word
wish = 'hello world 2 '
y = wish.rstrip()
print(y)

#removes space before and after word
say = ' hello world 3 '
z = say.strip()
print(z)

hello world 1
hello world 2
hello world 3

In [ ]:
# checking prefixes
line = 'this is my code'
a = line.startswith('my')
b = line.startswith('this')
c = line.startswith('t')
d = line.startswith('T')

print(a)
print(b)
print(c)
print(d)

False
True
True
False

In [ ]:
#cocatination
x = [1, 2, 3, 4]
y = [5, 6, 7, 8]

a = ['john', 'parabellum']
b = ['wick', 'chapter 3']

print(x + y)
print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8]
['john', 'parabellum', 'wick', 'chapter 3']

In [ ]:
#slicing
a = [64, 23, 45, 66, 32, 54]
print(a[2:4])
print(a[1])
print(a[:4])
print(a[2:])
print(a[:])

[45, 66]
23
[64, 23, 45, 66]
[45, 66, 32, 54]
[64, 23, 45, 66, 32, 54]

In [ ]:
#building list from scratch
a = list()
a.append(20)
a.append('joe')
a.append('john')
a.append(23)
print(a)

[20, 'joe', 'john', 23]

In [ ]:
#sorting list
a = [6, 3, 0, 5, 9, 10, 35]
a.sort()

b = ['roy', 'john', 'bob', 'sue']
b.sort()

print(a)
print(b)

[0, 3, 5, 6, 9, 10, 35]
['bob', 'john', 'roy', 'sue']

In [ ]:
#pre defined functions
num = [83, 92, 85, 10, 64, 88, 39]
print(len(num))
print(max(num))
print(min(num))
print(sum(num))
print(sum(num) / len(num))

7
92
10
461
65.85714285714286

In [ ]:
lst = 4
a = list()
for num in [10, 7, 2, 9, 3, 6, 4, 1, 5, 8]:
    if lst < num:
        a.append(lst + num)
    elif lst > num:
        a.append(lst - num)
    else:
        a.append(lst + num)
print(a)

[14, 11, 2, 13, 1, 10, 8, 3, 9, 12]

In [ ]:
#lists are mutable/changable
a = [10, 7, 2, 9, 3, 6, 4, 1, 5, 8]
a[2] = 1
print(a)

[10, 7, 1, 9, 3, 6, 4, 1, 5, 8]

In [ ]:
#tuples - same like lists but tuples are immutable
x = ('roy', 'ben', 'sue', 'john')
y = (1, 2, 3, 4)

print(x)
print(y)

(a, b) = ('bob', 5)

print(a)
print(b)

bob
5

In [ ]:
# dictionaries are same like lists but are non mutable/ non changable
a = {10, 7, 2, 9, 3, 6, 4, 1, 5, 8}
a[2] = 1
print(a)

TypeError: ignored

In [ ]:
a = ['joe', 'bob', 'ron', 'mike']
a[2] = 'roy'
print(a)

['joe', 'bob', 'roy', 'mike']

In [ ]:
#dictonaries - same like lists but has no order for values stored in it.
a = {}
a['money'] = 12
a['card'] = 5
a['photo'] = 3
a['coin'] = 6

print(a)

print(a.keys())

print(a.values())

print(list(a))

#shows predefined methods/functions and many others stored in directory of dictonary
dir(a)

{'money': 12, 'card': 5, 'photo': 3, 'coin': 6}
dict_keys(['money', 'card', 'photo', 'coin'])
dict_values([12, 5, 3, 6])
['money', 'card', 'photo', 'coin']

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
count = dict()
names = ['roy', 'bob', 'sue', 'roy', 'john', 'bob', 'sue', 'roy']
for name in names:
    count[name] = count.get(name, 0) + 1
print(count)

{'roy': 3, 'bob': 2, 'sue': 2, 'john': 1}

dict

In [ ]:
name = input('enter text:')
counts = dict()

for line in name:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word, 0) + 1
bigcount = None
bigword = None

for word, count in counts.items():
    if bigcount is None or count > bigcount:
        bigword = word
        bigcount = count
print('bigword=', bigword, 'bigcount=', bigcount)

enter text:Intellipaat’s Cloud Architect certification course will provide you with in-depth knowledge on how to build applications on the cloud. This MS in Cloud Computing program will help you learn the best practices for deploying SaaS, PaaS, and IaaS applications on AWS and Microsoft Azure. You will master DevOps tools to automate and improve the overall efficiency and delivery of software applications. As part of this Cl oud master’s program, you will learn the most flexible and adaptive language which is Python. This Master’s Degree in Cloud Computing is specially designed by industry experts, and as part of it, you will get 11 courses with 26 industry-based projects. Further, you will also receive the official course material of the Cloud Architect master’s program issued by Microsoft for ‘Integrating On-premises Identity
bigword= e bigcount= 62

In [5]:
#an HTTP request in python
import socket
mysock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org', 80))
cmd = 'GET http://data.pr4e.org/romeo.txt HTTP/1.0 \n\n'.encode()
mysock.send(cmd)

while True:
    data = mysock.recv(512)
    if(len(data) < 1):
        break
    print(data.decode())
mysock.close()

HTTP/1.1 400 Bad Request
Date: Fri, 13 Aug 2021 06:54:56 GMT
Server: Apache/2.4.18 (Ubuntu)
Content-Length: 308
Connection: close
Content-Type: text/html; charset=iso-8859-1

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>400 Bad Request</title>
</head><body>
<h1>Bad Request</h1>
<p>Your browser sent a request that this server could not understand.<br />
</p>
<hr>
<address>Apache/2.4.18 (Ubuntu) Server at do1.dr-chuck.com Port 80</address>
</body></html>

In [6]:
#same code in 4 line to send an HTTP request in python using 'urllib'
import urllib.request, urllib.parse, urllib.error
fhand = urllib.request.urlopen('http://data.pr4e.org/romeo.txt')
for line in fhand:
    print(line.decode().strip())

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

In [8]:
#to convert the string representing one Unicode character into integer representing the Unicode code of the character.
print(ord('H'))
print(ord('e'))
print(ord('\n'))

72
101
10

In [9]:
#reading the contents of a file and storing them in dictionary
import urllib.request, urllib.parse, urllib.error
fhand = urllib.request.urlopen('http://data.pr4e.org/romeo.txt')
counts = dict()
for line in fhand:
    words = line.decode().split()
    for word in words:
        counts[word] = counts.get(word, 0) + 1
print(counts)

{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In [10]:
#reading the content of web pages
import urllib.request, urllib.parse, urllib.error
fhand = urllib.request.urlopen('http://www.dr-chuck.com/page1.html')
for line in fhand:
    print(line.decode().strip())

<h1>The First Page</h1>
<p>
If you like, you can switch to the
<a href="http://www.dr-chuck.com/page2.htm">
Second Page</a>.
</p>